# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/web/.pnp
/web.pnp.js

# testing
/web/coverage

# production
/web/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/web/src/env.js


# Rails

# Ignore bundler config.
/covid_ic_api/.bundle

# Ignore the default SQLite database.
/covid_ic_api/db/*.sqlite3
/covid_ic_api/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/covid_ic_api/log/*
/covid_ic_api/tmp/*
/covid_ic_api!/log/.keep
/covid_ic_api!/tmp/.keep

# Ignore uploaded files in development
/covid_ic_api/storage/*
/covid_ic_api!/storage/.keep

/covid_ic_api/.byebug_history

# Ignore master key for decrypting credentials and more.
/covid_ic_api/config/master.key
/covid_ic_api/vendor/ruby
/covid_ic_api/.env
